/* css file for changes to the design of MelindaServen.com */
*, html { margin:0; padding:0; }

body {
    margin: 1em auto;
    text-align: center;
}


.me {
    font-size: 3em;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

.me-tag{
    font-size: 1em;
}

.icon-link-item {
  background: none;
  display: inline-block;
}

.contact-button {
    background: rebeccapurple;
    color: white;
    padding: .5em;
    display: block;
    margin: 1em auto;
    width: 5em;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration-line: none;
}

.category h2 {
    font-family: "Lora", "Minion Pro", Palatino, Georgia, serif;
    background: rebeccapurple;
    color: white;
    padding: .5em;
}

.experience {
    border: 1px solid rebeccapurple;
    padding: 2px;
    margin: 2px;
}

.experience h3 {
    font-size: 1.75em;
}

.resume-item {
    margin: 2px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    display: inline-block;
}
